<section class="home__main__section--courses">
    <div class="glider-contain">
      <div class="glider">
        <% courses.forEach(({title,image,id}) => { %>
         <a href="/detail/<%= id %>">
          <div class="card carousel-courses-item">
            <img  src="/images/cursos/<%= image %>"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-dark"><%= title %> </h5>
            </div>
          </div>
        </a>
        <% }) %>   
      </div>
    
      <button aria-label="Previous" class="glider-prev">«</button>
      <button aria-label="Next" class="glider-next">»</button>
      <div role="tablist" class="dots"></div>
    </div>
  </section>